@import url("https://fonts.googleapis.com/css2?family=Patua+One&family=Poppins:ital,wght@0,300;0,400;0,500;1,100;1,400&family=Roboto+Mono:ital,wght@1,200&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

/*TODO use tailwind*/
body {
  background-color: black;
  font-family: sans-serif;
  color: #354358;
}
